<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="methods" thread-count="2">
    <test verbose="2" preserve-order="true"
          name="/Users/sarthaksinghtomar/IdeaProjects/api-project/src/test/java/tests/posts/UpdatePostsTest.java">
        <classes>
            <class name="tests.posts.UpdatePostsTest">
                <methods>
                    <include name="validateReactionsAreUpdatedInUpdatePost"/>
                    <include name="validateTitleAreUpdatedInUpdatePost"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>